<!DOCTYPE html>
<html>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            function file_to_img_element(img_data) {
              //display uploaded image

              //INPUT 
              //cat pic as js File  object 

              //output 
              //HTML img element with uploaded file
              file_url = URL.createObjectURL(img_data);
              var img = document.createElement("IMG");
              img.src = file_url;
              img.class = "uploaded-img";
              return img;
            }
    </script>
    <script type=text/javascript>
            $(function() {
              img_container = $("div.img-container");
              $('a#predict').on('click', function(e) {
                e.preventDefault()
                
                file_list = $("input.custom-file-input").prop("files");

                //if no files uploaded, stop here
                if(file_list.length==0) return; 

                //get file 
                file = file_list.item(0);

                //display uploaded image
                img_container.html(file_to_img_element(file));
                
                file_data = new FormData();
                file_data.append('file', file);
                
                //send data to cat breed prediction api
                $.ajax({
                  type: 'POST',
                  url: '/predict',
                  data: file_data,
                  processData: false,
                  contentType: false
                }).done(function(data) {
                    console.log(data);
                });
                
    
                //return;
              });
            });
    </script>
<body>
  <style>
  
  </style>
<h1>CatNet</h1>


<div class="container">

      <h3>Upload an image</h3>
      <hr>
      <div class="img-container"></div>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>

        <a href=# id=predict><button class='btn btn-default'>Predict</button></a>

      </form>

</div>


</form>
</body>
</html