<!DOCTYPE html>
<html>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                
                console.log($(this));

                file_list = $("input.custom-file-input").prop("files");
                console.log(file_list);

                //if no files stop here, to hell with nested if statements
                if(file_list.length==0) return; 
                
                //get file 
                file = file_list.item(0);
                
                var file_data = new FormData(file_list);
                //file_data.append('file', file);

                console.log(file_data);
                $.getJSON('/predict',
                  {method: 'POST',
                  body: file_data},
                    function(data) {
                    //do nothing
                    });
                
    
                return false;
              });
            });
    </script>
<body>
  <style>
  
  </style>
<h1>MoldAI</h1>


<div class="container">
  <div class="row">
    <div class="col">

      <h3>Upload an image</h3>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>

        <a href=# id=test><button class='btn btn-default'>Upload</button></a>

      </form>

    </div>
  </div>
</div>


</form>
</body>
</html